{% extends 'base.html' %}

{% block body %}
            
<div id="layoutSidenav_content">
    <main>
            <div class="container-fluid">
                
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Commande</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item "><a class="text-warning" href="{% url 'acceuil' %}">Acceuil</a></li>
                        <li class="breadcrumb-item active">Commande</li>
                    </ol>
                    <div class="mb-4">
                        
                          <a href="{% url 'add_commande' %}" style="padding: 5px,5px,5px,5px;" class="btn btn-outline-warning text-dark">Ajouter</a>
                        
                    </div>

                        <hr>
                        {% if messages %}
                        {% for message in messages %}
                                    <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}  "> 
                                 
                                         {{message}}
                          
                          </div>
                          {% endfor %}
                                              {% endif %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                           Liste des Commande
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Nom client</th>
                                        <th>Nom utilisateur</th>
                                        <th>Statut</th>
                                        <th>Start date</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    {% for commande in commandes %}
                                    <tr>
                                        <td>{{commande.client.nom}}</td>
                                        <td>{{commande.user.first_name}} {{commande.user.last_name}}</td>
                                        <td>{% if commande.is_active == 0 %}
                                          <div class="badge bg-danger"> 
                                              Annuler
                   </div>
                                       {% else %} 
                                       <div class="badge bg-success"> 
                                          Valider
               </div>
                                       {% endif %}
                                      </td>
                                        <td>{{commande.created_at}}</td>
                                        <td> 
                                          <a href="{% url 'det_commande' commande.id %}" class="btn btn-outline-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                              <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                              <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                           </svg></a>
                                           {% if commande.is_active == 1 %}
                                          <a onclick=" addid({{commande.id}}) "  data-bs-toggle="modal" data-bs-target="#myModals" class="btn btn-outline-primary">
                                            
                                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M18 6l-12 12"></path>
                                            <path d="M6 6l12 12"></path>
                                         </svg> </a>
                                         {% endif %}
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                {% include   "footer.html" %}
                <div class="modal fade" id="myModals" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form method='post' action="">
                          {% csrf_token %}
                          <div class="modal-body">
                              <div class="form-group mb-4">
                                
                              <label for="email1">Voulez vous Annuler cette commande</label>
                                  <input type="text" class="form-control" id="id" name='id' hidden>
                         
                                
                                </div>
                          </div>
                          <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Annuler</button>
                            <button type="reset" data-bs-toggle="modal" data-bs-target="#myModals" class="btn btn-danger">Retour</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
            <script src="../../../../assets/js/vendor/popper.min.js"></script>
            <script src="../../../../dist/js/bootstrap.min.js"></script>
            <script src="../../../../assets/js/vendor/holder.min.js"></script>
            <script>
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (function() {
                'use strict';
        
                window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
        
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);
                  });
                }, false);
              })();

              
function addid(id)
{
document.getElementById('id').value=id
}
            </script>
          </body>
        </html>
    </main>
   
{% endblock body %}
            

    
