{% extends 'base.html' %}



{% block body %}
           
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Acceuil</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Acceuil</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body"><h2>Clients</h2> </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'client' %}">Voir les Détailles</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body"><h2>Produits</h2> </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'produit' %}">Voir les Détailles</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body"><h2>Commande Valider</h2> </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'commande' 1 %}">Voir le Détailles </a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body"><h2>Commande Annuler</h2> </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'commande' 0 %}">Voir les Détailles </a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Bar Chart Example
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Nom Produits</th>
                                <th>Quantité</th>
                                <th>Prix Unitaire</th>
                                <th>Seuil</th>
                                <th>Statut</th>
                                <th>Categorie</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for produit in produits %}
                            <tr>
                                <td>{{produit.nom}}</td>
                                <td>{{produit.quantite}}</td>
                                <td>{{produit.prix}}</td>
                                <td>{{produit.seuil}}</td>
                                <td>{{produit.categorie.nom}}</td>
                                <td>{% if produit.quantite <= produit.seuil %}
                                    <div class="badge bg-danger"> 
                                       En rupture
                                    </div>
                                    {% else %} 
                                    <div class="badge bg-success"> 
                                        En stock
                                    </div>
                                 {% endif %}
                                </td>
                                
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    {% include   "footer.html" %}
</div>
            
{% endblock body %}
          
      
      