{% extends 'base.html' %}

{% block body %}
            
<div id="layoutSidenav_content">
    <main>
            <div class="container-fluid">
                
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Payement</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item "><a class="text-warning" href="{% url 'acceuil' %}">Acceuil</a></li>
                        <li class="breadcrumb-item active">Payement</li>
                    </ol>
                
                        <hr>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                           Liste des Payements
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>nom du client</th>
                                        <th>nom de la caissiere</th>
                                        <th>montant payer</th>
                                        <th>mode payement</th>
                                        <th>Date de payement</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    {% for pay in payements %}
                                    <tr>
                                        <td>{{pay.commande.client.nom}}</td>
                                        <td>{{pay.user.first_name}} {{pay.user.last_name}}</td>
                                        <td>{{pay.commande.prixtotal}}</td>
                                        <td>{{pay.mode_payement.mode}}</td>
                                        <td>{{pay.created_at}}</td>
                                        <td> 
                                          <a target="_blank" href="{% url 'detaille_payement' pay.id %}" class="btn btn-outline-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                              <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                              <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                           </svg></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
        
              
            </div>
        
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
           
            <script>
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (function() {
                'use strict';
        
                window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
        
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);
                  });
                }, false);
              })();
            </script>
          </body>
        </html>
    </main>
    {% include   "footer.html" %}
{% endblock body %}
            

    
