{% extends 'base.html' %}

{% block body %}

<div id="layoutSidenav_content">
    <main>
            <div class="container-fluid">
                
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Paramètre</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item "><a class="text-warning" href="{% url 'acceuil' %}">Acceuil</a></li>
                        <li class="breadcrumb-item active">Paramètre</li>
                    </ol>

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="rounded-circle">
              <h2>{{request.user.last_name}}</h2>
              <h3>{{request.user.role.nom}}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">A propos</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Changer le mot de Passe</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">A Propos</h5>
                  <p class="small fst-italic">Sunt est maiores est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                  <h5 class="card-title">Détaille Profile</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3  label ">Nom</div>
                    <div class="col-lg-9 col-md-8">{{user.last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3  label">Entreprise</div>
                    <div class="col-lg-9 col-md-8">KG-Group</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3  label">Job</div>
                    <div class="col-lg-9 col-md-8">{{user.role.nom}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3 label">Pays</div>
                    <div class="col-lg-9 col-md-8">Benin</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3  label">Adresse</div>
                    <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3  label">Phone</div>
                    <div class="col-lg-9 col-md-8">(+229) {{user.phone}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 mt-3  label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                </div>

                

                <div class="tab-pane fade pt-3" id="profile-settings">

                 

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags == 'success' %} class="alert alert-success" role="alert">
                        {{message}}
                      </div>

                      <div {% else %} class="alert alert-danger" role="alert" {% endif %}>
                        {{message}}
                      </div>
                    {% endfor %}
                  {% endif %}
                  <form method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Ancien Mot de Passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="a_mdp" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouvel mot de Passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="n_mdp" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmer le mot de Passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="c_mdp" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-warning">Changer le Mot de Passe</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
        </div>
    </div>
</main>
 
</div>



{% endblock body %}