{% extends 'base.html' %}

{% block body %}
            
<div id="layoutSidenav_content">
    <main>
            <div class="container-fluid">
                
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Utilisateur</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item "><a class="text-warning" href="{% url 'acceuil' %}">Acceuil</a></li>
                        <li class="breadcrumb-item active">Utilisateur</li>
                    </ol> 
                   
                    <div class="mb-4">
                       

                        <button type="button"  data-bs-toggle="modal" data-bs-target="#myModal"
                     
                       style="padding: 5px,5px,5px,5px;" class="btn btn-outline-warning text-dark">Ajouter
                         </button>
                          {% if messages %}

                              {% for message in messages %}
                                <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}  "> 
                                  
                                  {{message}}

                                </div>

                              {% endfor %}

                          {% endif %}
                     
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                           Liste des utilisateurs
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Statut</th>
                                        <th>Compte</th>
                                        <th>Start date</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for user in users%}
                                    <tr>
                                        <td>{{user.first_name}}</td>
                                        <td>{{user.last_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>{{user.role.nom}}</td>
                                        <td>{% if user.is_active == 0 %}
                                            <div class="badge bg-danger"> 
                                                Bloquer
                                              </div>
                                         {% else %} 
                                         <div class="badge bg-success"> 
                                            Actif
                                            </div>
                                         {% endif %}
                                        </td>
                                        <td>{% if user.is_staff == 0 %}
                                          <div class="badge bg-danger"> 
                                              Inactif
                                            </div>
                                       {% else %} 
                                       <div class="badge bg-success"> 
                                          Actif
                                          </div>
                                       {% endif %}
                                      </td>
                                        <td>{{user.date_joined}}</td>
                                        <td>
                                          <a href="{% url 'update_user' user.id %}" class="btn btn-outline-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                                            <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"></path>
                                         </svg></a>
                                          <a onclick=" addid({{user.id}}) "  data-bs-toggle="modal" data-bs-target="#myModals" class="btn btn-outline-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                                            <path d="M15 9h.01"></path>
                                         </svg></a>

                                        </td>
                                    </tr>
                                  {% endfor %}
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form method='post' action="">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group mb-4">
                                    <label for="email1">Nom</label>
                                    <input type="text" class="form-control" id="email1" name='nom' aria-describedby="emailHelp" placeholder="Nom">
                           
                                  </div>
                                  <div class="form-group  mb-4">
                                    <label for="email1">Prenom</label>
                                    <input type="text" class="form-control"name='prenom' id="email1" aria-describedby="emailHelp" placeholder="Prenom">
                           
                                  </div>
                              <div class="form-group  mb-4">
                                <label for="email1">Email address</label>
                                <input type="email" class="form-control" id="email1"name='email' aria-describedby="emailHelp" placeholder="Email">
                       
                              </div> 
                              <div class="form-group  mb-4">
                                <label for="email1">Numero de téléphone</label>
                                <input  type='tel' id="phoneNumber" onchange="phonenumber()" class="form-control" name='phone' aria-describedby="emailHelp" placeholder="Numero de téléphone">
                       
                              </div> 
                              <div class="form-group  mb-4">
                                <label for="email1">Roles</label><br/>
                                <select class="select2 form-control " name='role'  style="width: 100% ; height:100%" >
                       <option>roles</option>
                       {% for role in roles %}
                       <option value="{{role.id}}"> {{role.nom}}</option>
                        {% endfor %}
                                </select>
                               
                              </div>
                              <div class="form-group  mb-4">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" name='password' placeholder="Password">
                              </div>
                              <div class="form-group">
                                <label for="password1">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name='c_password' placeholder="Confirm Password">
                              </div>
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                              <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
              
            </div>
           
        
            <div class="modal fade" id="myModals" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method='post' action="">
                      {% csrf_token %}
                      <div class="modal-body">
                          <div class="form-group mb-4">
                              <label for="email1">Mot de Passe</label>
                              <input type="text" class="form-control" id="id" name='id' hidden>
                     
                              <input type="text" class="form-control" id="email1" name='mdp' aria-describedby="emailHelp" >
                     
                            </div>
                            <div class="form-group mb-4">
                              <label for="email1">Confirmer Mot de Passe</label>
                              <input type="text" class="form-control" id="email1" name='c_mdp' aria-describedby="emailHelp" >
                     
                            </div>
                      </div>
                      <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Valider</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
        
      </div>
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
           
            <script>  function phonenumber()
{
    const indiaRegex = /^(\+229)?\d{8}$/;
    const inputText = document.getElementById("phoneNumber").value;
    if(inputText.match(indiaRegex)) {
	    console.log("Valid phone number");      
    } else {
	   console.log("Not a valid Phone Number");
    }
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (function() {
                'use strict';
        
                window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
        
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);
                  });
                }, false);
              })();

            
}
function addid(id)
{
document.getElementById('id').value=id
}
            </script>
          </body>
        </html>
    </main>
    <script>
      $(document).ready(function() {
          $('.select2').select2({
            dropdownParent: $('#myModal'), width: 'resolve'
        });
      });
  </script>
</body>
{% endblock body %}
            

    
